
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";
@import "~summernote/dist/summernote-bs4.css";

.navbar-bson {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  font-size: 0.8rem;
}

.navbar {
  background-color: #ffffff;
  padding: 0.35rem 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
}

.app-content {
  flex: 1;
}

.card {
  border: 1px solid #eaeaea;
  border-radius : 0;
  //pointer-events: none;

}
.card-header {
  border-bottom: none;
}

.form-control {
  border-radius: inherit;
}
.btn {
  border-radius : 0;
  line-height: 1.4;
}

.breadcrumb {
  background-color: rgb(251, 251, 251);
  padding: 0.35rem 1rem;
}
.table th, .table td {
  padding: 0.55rem 0.75rem;
}

.adverts-list {
  .advert {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.search-bar {
  background: #e9ecef;
}

.breadcrumb {
  background: none;
  padding: 0;
}

.banner {
  border: 1px solid #ddd;
}
